{% extends "layout.html" %}
{% block content %}
<div style="margin-bottom:30px;">
    <h1 style="font-weight: 800; margin:0; font-size:34px;">Cryptographic Audit Trail</h1>
    <p style="color:var(--text-muted); margin-top:5px;">Immutable records of system access and network commands.</p>
</div>
<div class="card" style="padding:0; overflow:hidden;">
    <table>
        <thead style="background:var(--hover-bg);"><tr><th>Timestamp (UTC)</th><th>Actor Identity</th><th>Event Designation</th><th>Origin IP</th><th>Integrity</th></tr></thead>
        <tbody>
            <tr><td><i class="fa-regular fa-clock" style="color:var(--text-muted); margin-right:5px;"></i> 2026-05-15 17:10:00</td><td><b>admin</b></td><td><span class="badge badge-green">SESSION_INITIATED</span></td><td style="font-family:monospace; color:var(--text-muted);">192.168.1.1</td><td><i class="fa-solid fa-lock" style="color:#10b981;"></i></td></tr>
            <tr><td><i class="fa-regular fa-clock" style="color:var(--text-muted); margin-right:5px;"></i> 2026-05-15 15:22:11</td><td><b>SYSTEM_CRON</b></td><td><span class="badge badge-blue">DATABASE_SYNC</span></td><td style="font-family:monospace; color:var(--text-muted);">127.0.0.1</td><td><i class="fa-solid fa-lock" style="color:#10b981;"></i></td></tr>
            <tr><td><i class="fa-regular fa-clock" style="color:var(--text-muted); margin-right:5px;"></i> 2026-05-14 09:05:44</td><td><b>Oro Transit</b></td><td><span class="badge badge-green">SESSION_INITIATED</span></td><td style="font-family:monospace; color:var(--text-muted);">203.111.45.12</td><td><i class="fa-solid fa-lock" style="color:#10b981;"></i></td></tr>
            <tr><td><i class="fa-regular fa-clock" style="color:var(--text-muted); margin-right:5px;"></i> 2026-05-14 08:30:10</td><td><b>PNP-Police</b></td><td><span class="badge badge-red">DISPATCH_UNIT</span></td><td style="font-family:monospace; color:var(--text-muted);">110.54.22.1</td><td><i class="fa-solid fa-lock" style="color:#10b981;"></i></td></tr>
        </tbody>
    </table>
</div>
{% endblock %}